@media print {
    body {
      background-color: transparent;
      padding: 25px 0px;
    }

    .container-fluid, .col-md-12 {
      padding: 0px !important;
    }

    label {
      margin-bottom: 0px !important;
      float: left !important;
    }

    input {
      padding: 0px !important;
      padding-left: 10px !important;
      height: 21px !important;
      width: auto !important;
      margin-bottom: 0px !important;
    }

    .num-only {
      max-width: 80px !important;
    }

    input[name="notify"] {
      width: auto !important;
      max-width: 500px !important;
    }

    .aky {
      margin: 10px 0px;
    }

    aside, 
    button, 
    div.inline,
    .chosen-single div, 
    table .remove-row, 
    table .opt-th, 
    .btn, 
    .no-print,
    input[type="hidden"],
    select
    {
      display: none !important;
    }

    a, p {
      color: black;
    }

    .project-name {
        text-align: center;
        display: block;
        margin: 0px auto;
    }

    .form-login, input {
      border: none !important;
      border-bottom: solid 1px black!important;
      border-radius: 0px !important;
    }

    .chosen-single {
      border: none !important;
      border-radius: 0px !important;
      background-image: none !important;
      box-shadow: none !important;
      border-bottom: solid 1px black !important;
      color: black;
    }

    .chosen-container {
      width: auto !important;
      margin: 0px !important;
      font-size: 11pt !important;
      line-height: 16px !important;
      border-bottom: solid 1px black;

    }
    
    .chosen-container a {
      top: -6px;
      height: 25px !important;   
    }

    .chosen-container a,
    .chosen-container span {
      /*height: 21px ;*/
      z-index: 999999;
      border: none !important;
    }

    .job-title input {
      width: 100% !important;
    }

    .chosen-single span {
      margin-right: 0px !important;
    }

    table thead tr th {
      border: solid 1px black !important;
    }

    table tbody .chosen-single, table .form-login {
      border: none !important;
      margin-bottom: 0px !important;
    }

    tbody tr td {
      border: solid 1px black !important;
      background-color: transparent !important;
      border-top: none !important;
      padding: 3px !important;
      margin: 0px !important;
    }

    tbody .chosen-container {
      margin: 0px !important;
    }

    tbody .job-num, tbody .part-num {
      vertical-align: middle;
      text-align: center;
      font-size: 11pt !important;
    }

    .print-footer {
      margin-top: 20px;
      font-size: 11pt !important;
      color: black;
      display: block !important;      
    }

    .print-date {
      padding: 0px 5px 0px 0px !important;
    }

    .print-select, .print-input {
      width: auto !important;
      float: left;
    }

    .print-input input {
      float: right;
    }

    .print-note {
      border: none !important;
    }

    .print-date, .print-select, .print-input, .print-note, select, input, .form-login, .chosen-single span {
      font-size: 11pt !important;
    }

    table input {
      font-size: 11pt !important;
      padding: 2px !important;
      line-height: 16px !important;
    }

    table th {
      padding: 3px !important;
    }

    span.new-row {
      display: none;
    }

    .datepicker {
      width: 90px !important;
    }

    div.table-mark {
      display: block !important;
    }

    .no-print {
      display: none !important;
    }

    textarea.form-login {
      border: none !important;
      width: 100%;
    }

  ::-webkit-input-placeholder { /* WebKit browsers */
      color: transparent;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: transparent;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: transparent;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: transparent;
  }


}