{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Пользователи </h1>
                    <div class="inline"> <a href="/admin/user"> + новый пользователь </a></div> / 
                    <div class="inline"> <a href="/admin/users/roles"> роли </a></div>
                    <hr class="aky">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table class="table leads table-striped">
                        <thead>
                        <tr>
                            <th>Email (логин)</th>
                            <th>Инициалы</th>
                            <th>Роль</th>
                            <th>Дата добавления</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                {#<td>{{ lead.id }} </td>#}
                                <td><a href="/admin/user/{{ user.id }}">{{ user.email }} </a></td>
                                <td><a href="/admin/user/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></td>
                                <th><a href="/admin/user/{{ user.id }}">{{user.role|first.name}}</a></th>
                                <td>{{ user.created_at|date("Y - m - d") }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>
{% endblock %}