{% extends "layout.html.twig" %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Пользователь </h1>
                    <div class="inline"> <a href="/admin/users">все пользователи</a> </div>
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    {% if user.id %}
                        action="/api/user/{{ user.id }}"
                    {% else %}
                        action="/api/user"
                    {% endif %}
            >
                <div class="row">
                    <div class="col-md-8">
                        <div class="form">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Email </label>
                                    <input type="text" class="form-login" name="email" placeholder="Email" value="{{ user.email }}" required>
                                </div>

                                <div class="col-md-4">
                                    <label>Пароль </label>
                                    <input type="text" class="form-login" data-table="drivers" name="password" placeholder="Укажите новый пароль если нужно">
                                </div> 
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Имя </label>
                                    <input type="text" class="form-login" name="first_name" placeholder="Имя" value="{{ user.first_name }}">
                                </div>
                                <div class="col-md-4">
                                    <label>Фамилия</label>
                                    <input type="text" name="last_name" placeholder="Фамилия" value="{{ user.last_name }}">
                                </div>                                
                            </div>                               

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Роль</label>
                                    <select name="role" class="chosen-select">
                                        {% for role in roles %}
                                            {% if role.id == user.role.0.id %}
                                                <option value="{{role.slug}}" selected>{{role.name}}</option>
                                            {% else %}
                                                <option value="{{role.slug}}">{{role.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            </div>


                            <button class="blue-button inline" type="submit">Сохранить</button>
                            {#{% if user.id %}#}
                                {#<a class="inline" href="/api/delete/user/{{ user.id }}"><div class="red-button inline">Удалить</div> </a>#}
                            {#{% endif %}#}
                        </div>
                    </div>

            </form>
        </div>
    </div>
    </div>
    <!-- /#page-content-wrapper -->


    <div class="popup popup-project">
        <form>
            <div class="form-group">
                <label for="name">Название задачи</label>
                <input type="text" class="form-control" id="name" placeholder="Рабочее название проекта">
            </div>
            <div class="form-group">
                <label for="description">Короткое описание</label>
                <input type="text" class="form-control" id="description" placeholder="Пара слов о проекте">
            </div>
            <div class="btn btn-default add" data-type="" data-project-id="">Сохранить</div> <div class="btn btn-default cancel">Отмена</div> <div class="btn btn-danger delete">Удалить</div>
        </form>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/views/admin/admin.js"></script>
{% endblock %}