.inline {display: inline-block;}

.popup-task .form { position: absolute; top: 10px; width: 400px; opacity: 1; text-align: left;}
.popup-task .aside {position: absolute; top: 10px; width: 460px; right: 10px; background: none;}
.popup-task {display: none; width: 100%; height: 100%; position: fixed; background: rgba(255,255,255, 0.95); left: 0; top: 0; z-index: 999;}
.popup-task .delete {display: none; float: right;}
.project-name, .canban {margin-right: 20px;}
.addtask {cursor: pointer;}

.popup-project form { position: absolute; top: 40px; width: 600px; margin-left: -300px; left: 50%; opacity: 1;}
.popup-project {display: none; width: 100%; height: 100%; position: fixed; background: rgba(255,255,255, 0.95); left: 0; top: 0; z-index: 999;}
.popup-project .delete {display: none; float: right;}
.project-name, .canban {margin-right: 20px;}
.add-project {cursor: pointer;}

.height-60 {
    line-height: 80px;
    vertical-align: middle;
}
.margin-10 {
    margin: 0 10px;
}
.plitka-form {
    background-color: #ffffff;
    margin: 0px auto 0;
    padding: 20px 30px 30px 30px;
    border-radius: 3px;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    display: block;
    overflow: hidden;
}
.plitka-form input[type="text"], input[type="text"], input[type="date"], .form .chosen-container-multi .chosen-choices {
    width: 100%;
    height: 36px;
    display: block;
    margin: 0 0 16px 0;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    font-size: 18px;
    padding: 8px 0 8px 10px;
}
.form .chosen-container {
    margin: 0 0 16px 0;
}
.form .field {
    margin: 0 0 16px 0;
}
.form .field input {margin: 0;}
.plitka-form label:not(:first-child), .form label:not(:first-child) {
    margin: 0px 0 5px 0;
}
.settings-el {font-size: 18px; margin: 16px 0;}

.form textarea {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 8px 0 8px 10px;
    margin: 0 0 16px 0;
}
.blue-button {background: #1992d5; padding: 10px; color: #fff; border: none; min-width: 200px; border-radius: 3px;}
.red-button {background: #d5197d; padding: 10px; color: #fff; border: none; min-width: 200px; border-radius: 3px; text-align: center;}

.blue-button:disabled, .red-button:disabled {
    background-color: grey;
    opacity: 0.5;
}

.plitka-form button {
    border-radius: 3px;
    background: #165f9f;
    color: #ffffff;
    padding: 12px 30px;
    border: 0;
    font: bold 18px;
    cursor: pointer;
    height: 48px;
}

table .description {display: none;}
table .show-desc {color: #1f7e9a; text-decoration: underline; cursor: pointer;}

body .container-fluid .row table tr td .warning-red {color: red;}

body table tr.status-1 a { color: #000000;}
body table tr.status-3 a { color: #049052;}
body table tr.status-5 a, table tr.status-4 a { color: #c5c5c5;}
table tr.status-5:hover a, table tr.status-4:hover a { color: #000;}

body table tr.status-4.pink td a {color: red;}

#page-content-wrapper {
    padding-bottom: 35px;
}

li.dopinfo {
    margin: 14px 0;
    list-style: none;
}