{% extends "layout.html.twig" %}

{% block title %}Блюда {% endblock %}

{% block content %}
    <style>
        i.times, i.pencil {
            visibility: hidden;
            padding: 5px;
        }

        .table tbody tr:hover i.times,
        .table tbody tr:hover i.pencil {
            visibility: visible;
            cursor: pointer;
        }
    </style>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div id="vue-food" class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Блюда</h1>
                    <div class="inline"><a @click="showModalCreateFood()"> + новое блюдо</a></div>
                    <hr class="aky">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 ">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Калории</th>
                                <th>Белки</th>
                                <th>Жиры</th>
                                <th>Углеводы</th>
                                <th>Выход</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(f, index) in food">
                                <td>${f.title}</td>
                                <td>${f.calories}</td>
                                <td>${f.proteins}</td>
                                <td>${f.fat}</td>
                                <td>${f.сarbohydrates}</td>
                                <td>${f.output}</td>
                                <td>
                                    <i class="fa fa-pencil pencil" aria-hidden="true" style="color: #0072FF;" title="Редактировать" @click="showModalCreateFood(index)"></i>
                                    <i class="fa fa-times times" aria-hidden="true" style="color: red;" title="Удалить" @click="showModalDeleteFood(index)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="modal-create-food" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" style="width:75%;">Блюда</h4>
                        </div>

                        <div class="modal-body" style="padding-bottom: 0px;">
                            <form role="form">
                                <table class="table" style="margin-bottom: 0px;">
                                    <thead>
                                        <tr>
                                            <th>Название</th>
                                            <th>Калории</th>
                                            <th>Белки</th>
                                            <th>Жиры</th>
                                            <th>Углеводы</th>
                                            <th>Выход</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                         <tr>
                                            <td>
                                                <div class="form-group">
                                                   <input type="text" class="form-control" v-model="chosen.title"> 
                                                </div>
                                            </td>
                                            
                                            <td style="width: 75px;">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" v-model.number="chosen.calories">
                                                </div>
                                            </td>
                                            
                                            <td style="width: 75px;">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" v-model.number="chosen.proteins">
                                                </div>
                                            </td>

                                            <td style="width: 75px;">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" v-model.number="chosen.fat">
                                                </div>
                                            </td>
                                            
                                            <td style="width: 75px;">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" v-model.number="chosen.сarbohydrates">
                                                </div>
                                            </td>

                                             <td style="width: 75px;">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" v-model.number="chosen.output">
                                                </div>
                                            </td>

                                             <td style="width: 75px;">
                                            </td>
                                         </tr>
                                     </tbody>
                                </table>
                            </form>

                       </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" @click="submitForm">ОК</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button> 
                        </div>
                    </div>
                  </div>
                </div>
                
                <div class="modal fade" id="modal-delete-food" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h3>Вы действительно хотите удалить блюдо «${chosen.title}»?</h3>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" @click="deleteFood">Удалить</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="log" class="col-md-10"></div>
                <div id="initialize-block" data-initialize="{{food}}" style="display: none;"></div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://unpkg.com/vue@2.2.6"></script>
    <!--<script src="/views/admin/admin.js"></script>-->
    <script type="text/javascript">
        var app = new Vue({
            el: "#vue-food",
            delimiters: ['${', '}'],
            data: {
                food: [],
                chosen: {}
            },
            methods: {
                showModalCreateFood: function(index = null) {
                    this.chosen = {};
                    if (index != null) {
                        this.chosen = JSON.parse(JSON.stringify(this.food[index])); // Костыль :(
                    }

                    $('#modal-create-food').modal();
                },
                showModalDeleteFood: function(index) {
                    this.chosen = this.food[index];
                    this.chosen_index = index;
                    $('#modal-delete-food').modal();
                },
                deleteFood: function() {
                    var context = this;
                    $.ajax({
                        url: '/api/food/delete',
                        type: 'POST',
                        data: {id: context.chosen.id},
                        success: function() {
                            let index = context.food.indexOf(context.chosen);
                            context.food.splice(index, 1);
                        },
                        error: function(response) {
                            $('#log').html(response.responseText);
                        }
                    }).done(() => $('#modal-delete-food').modal('toggle'));
                },
                submitForm: function() {
                    var context = this;
                    $.ajax({
                        url: '/api/food/create',
                        type: 'POST',
                        data: context.chosen,
                        success: function(food) {
                            context.food = JSON.parse(food);
                            context.chosen = {};
                        },
                        error: function(response) {
                            $('#log').html(response.responseText);
                        }
                    }).done(() => $('#modal-create-food').modal('toggle'));
                }
            },
            created: function() {
                    this.food = JSON.parse(document.querySelector('#initialize-block').dataset.initialize);
                    document.getElementById('initialize-block').remove();
            }
        });
    </script>
{% endblock %}