<div id="comments">
    {% for comment in comments %}
        <div class="comment"><span class="name">{{ users[comment.author]['Username'] }} : </span> {{ comment.message }} <span class="date"> {{comment.date}} </span> </div>
    {% endfor %}
</div>